@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,500;1,700&display=swap');
:root {
    --back-dark: #252525;
    --back-grey:#303030;
    --back-grey2: #444444;
    --dark-blue:#536BAA;
    --yellow: #F5B727;
    --orange:#cc6d01;
    --green:#5a7e1f;
    --teal: #32A0C2;
    --delay: #B14343;
    --warning: #ff3c6d;
    --primary: #ddd;
    --deliveries: #2A9F98;
    --orders: #D445EC;
    --back: #152640;
    --error: #f61;
}
html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background: #4a5d7e;
    border-radius: 0px;
    
}
::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: #b8b8b8;
    border-radius: 0;
    border: 0px solid #000;
}

body{
    background-color: var(--back);
    background-color: #1f0f2c;
    background: linear-gradient(to right, #202635,#303552, #202635);
    
    color: #eee;
    margin: 0;
    padding: 0;
    /* min-height: 1200px; */
    /* overflow: hidden; */
    
}
#app {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: linear-gradient(to right, #202635,#303552, #202635);
}

/* #app .frame{
    overflow-y: auto;
    
} */

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

#app .main-container {
    display: grid;
    grid-template-rows: 120px, auto;
    background-color: none;
}
#app .main-container .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(to right, #101E32, #213D67); */

    margin: 0;
    padding: 0;
}
#app .main-container .nav-container .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    color: #101E32;
    
    margin: 0;
    padding: 0;
}
#app .main-container .nav-container .navbar .navbar-line{
    height: 0.4vh;
    background: linear-gradient(#888, #eee, #eee, #222);
}
#app .main-container .nav-container .navbar .navbar-content{
    height: 4.4vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.4vh ;
}
#app .main-container .nav-container .navbar .navbar-content div{
    font-family: 'Bebas Neue';
    color: #2f548b;
    padding: 0.2vh 2.0vh;
    font-size: 2.6vh;
}
#app .main-container .nav-container .navbar .navbar-content div a{
    padding: 0.2vh 2.0vh;
    
}
#app .main-container .nav-container .navbar .navbar-content div p{
    padding: auto;
    margin: auto;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: rgb(216, 151, 0);
}

#app .main-container .top-bar{
    display: flex;
    float: left;
    align-items: center;
    margin: 0px 0px;
    background: linear-gradient(to right, #101E32, #213D67);
    height: 9.0vh;
    
}
#app .main-container .top-bar #label{
    font-family: 'Bebas Neue', cursive;
    background: -webkit-linear-gradient(#fff, #eee, #777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.8vh;
    align-self: center;
    padding: 0;
}

#dsse-logo{
    height: 5.0vh;
    margin: auto 3.0vh;
    align-self: center;
}

#app .view-container{
    display:grid;
    grid-template-areas:
    ". header header get post ."
    ". void void void void .";
    margin-top: 20px;
}
@media screen and (min-width: 1281px){
    #app .view-container{
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    }
}
@media screen and (max-width: 1280px){
    #app .view-container{
        grid-template-columns: 0.1fr 2fr 2fr 2fr 2fr 0.1fr;
    }
}
.item-a {
    grid-area: post;
    display: flex;
    border-radius: 14px;
    justify-content: flex-end;
}

    

.item-b {
    grid-area: update;
    justify-self: end;
    background: linear-gradient(to right bottom, #ac28a8,#5a0579);
}
.item-c {
    grid-area: delete;
    background: linear-gradient(to right bottom, #ff7a55,#9d0e0e);
    justify-self: end;
}
.item-d {
    grid-area: get;
}
.item-d:hover{
    transform: scale(1.1);
}
.item-e {
    grid-area: header;
    
}
.item-v {
    grid-area: void;
    margin: 10px;
    padding: 0px;
    
}
.main-list-btn{
    /* background: linear-gradient(to right bottom, #5bb7f8,#0e409d); */
    background: linear-gradient(to right bottom, #ae86ff,#8c34ff);
    justify-self: end;
    font-size: 1.2em;
    width: 40px;
    height: 60px;
    /* border-radius: 50%; */
    
}
.main-add-btn{
    justify-self: end;
    background: linear-gradient(to right bottom, #b0d730,#8cb30b,#51680f);
    font-size: 1.2em;
    width: 40px;
    height: 60px;
    /* border-radius: 50%; */
    
}

.item-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin:10px 10px;
    padding: 2px 14px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.374);
    max-height: 60px;
    border-radius: 50%;
}
.item-container p{
    display: flex;
    padding: 2px 10px;
    align-self: center;
}
.item-container:hover{
    display: flex;
    flex-direction: row;
    transform: scale(1.1);
    background: linear-gradient(to right bottom, #ffcc00,#be7200);
}
.material-symbols-outlined{
    font-size: 2em;
}

.sub-page-header{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
    
}
.sub-page-header p{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.0em;
    padding: 0 10px;
}

.list-item{
    display: grid;
    grid-template-columns: 25% 25% 20% 20% 10%;
    margin-bottom: 0px;
    padding:0px 20px 0px 50px;
    cursor: pointer;
    border-bottom: solid 1px var(--back);
    align-items: center;
    background: #ffffff;
}
.list-item:hover{
    /* background: #f6f6f6; */
    transition: ease 400ms;
}
.list-item:hover p{
    color: rgb(83, 121, 246);
}

.list-header{
    border-bottom: solid 1px var(--back);
    border-radius: 10px 10px 0  0;
    background: #eee;
    font-size: 1.1em;
    /* height: 20px; */
    padding:20px 20px 0px 50px;
}

.list-header p{
    cursor: pointer;
    margin-right: 4px;
    
    
}
.list-header:hover{
    background: #eee;
}
.list-item.list-header p{
    display: flex;
    align-items: center;
    margin-right: 6px;
    align-self: center;
    color: #1e1e1e;
    font-weight: 600;
    
}
.list-item p{
    margin: 0px;
    font-weight: 400;
    color: #111;
    padding: 0;
    word-wrap: break-word;
}
@media screen and (min-width: 901px){
    .list-item p{
        font-size: 13px;
    }
}
@media screen and (max-width: 900px){
    .list-item p{
        font-size: 9px;
    }
}
.list-header .sort-icon{
    font-size: 0.66em;
    margin-right: 2px ;
    padding: 2px 2px;
    color: #bbb;
    background-color: #fff;
    
    border: solid 1px #bbb;
    transition: ease 300ms;
    
}
.list-header .sort-icon:hover{
    background-color: #aaa;
    color: #fff;
}
.list-header .sort-bar{
    border-bottom: solid 1px var(--back);
}

.list-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    border-radius: 0 0 10px 10px;
    color: #212121;
    margin: 0;
    padding: 0 20px;
    height: 60px;
}
.list-footer p{
    padding: 0px 20px ;
    font-size: 0.8em;
}
.list-footer-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    /* border-top: solid 1px #fff ; */
}
.icon-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    padding: 3px 5px;
    min-width: 0.8vw;
    /* height: 26px; */
    font-size: 0.7em;
    border: 1px solid #888;
    /* box-shadow: inset 2px 2px 3px rgba( 0,0,0,0.3); */
    color: rgb(31, 31, 31);
    background: #fff;
    cursor: pointer;
}
.icon-page:hover{
    background: #222;
    color: #fff;
}
.icon-page-active{
    background-color: #888;
    color: #fff;
}
.first-page-ctnr{
    display: flex;
}

.icon-page-size-ctnr{
    display: flex;
    justify-content: flex-start;
}
.icon-page-size{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin: auto 2px;
    padding: 3px 5px;
    width: 1vw;
    /* height: 20px; */
    border: 1px solid #888;
    color: rgb(31, 31, 31);
    background: #fff;
    cursor: pointer;
}
.icon-page-size:hover{
    background-color: var(--back);
    color: #fff;
}

.add-container{
    display: flex;
    
}
.list-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color:#fff;
    padding: 5px 30px;
    margin: 6px 10px;
    cursor: pointer;
    border: 1px solid #888;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
    color: #333;
    font-size: 0.6vw;
}
.list-item button:hover{
    background: linear-gradient(to right, #e6ff9b,#d0ff35); 
    transform: scale(108%);
    transition: ease 200ms;
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.99); */
}
/* button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #42c231,#07531e);
    border: none;
    color:#fff;
    padding: 5px 30px;
    margin: 0px 10px;
    cursor: pointer;
    height: 34px;
    font-family: 'Poppins', sans-serif;
} */
button:hover{
    background: linear-gradient(to right bottom, #b6f864,#759500);

}


.error{
    display: flex;
    justify-content: center;
    color: var(--error);
    font-size: 0.8em;
}
.success{
    display: flex;
    justify-content: center;
}
.success p{
    color: #d0ff35;
    font-weight: 200;
    font-size: 1.3vh;
}

.sort-icon-label{
    /* font-size: 0.6em; */
    color: #a8a8a8;
    margin-right: 0.21vw;
}

@media screen and (min-width: 1281px) {
    .sort-icon-label{
        font-size: 0.6em;
    }
}
@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .sort-icon-label{
        font-size: 0.4em;
    }
}
@media screen and (max-width: 1100px){
    .sort-icon-label{
        display: none;
    }
}


    @media screen and (min-width: 1281px) {
        .list-item.list-header p{
            font-size: 0.8em;
        }
    }
    @media screen and (max-width: 1280px) and (min-width:901px) {
        .list-item.list-header p{
            font-size: 0.7em;
        }
    }
    @media screen and (max-width: 900px) {
        .list-item.list-header p{
            font-size: 0.6em;
        }
    }
    
.prio-ctnr {
    display: flex;
    justify-content: space-between;
  }
  .prio-ctnr p {
    display: flex;
    align-items: center;
    margin: 0 14px 0 0;
    padding: 0;
  
    font-size: 1.2em;
  }